body {
    font-size: large;
    min-height: 400px;
    background: DarkGray;
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-rows: auto 1fr;
    grid-gap: 15px;
    grid-template-areas:
      "header navigation"
      "article navigation"
      "footer navigation";
  }
  header {
    background: rgb(109, 156, 255);
    grid-area: header;
  }


  h2
  {
    text-align: center;
  }

  nav {
    background: rgb(236, 197, 21);
    grid-area: navigation;
  }

  nav ul
  {
    margin: 1px;
    padding-left: 10px;
    list-style-type: none;
  }

  article {
    background: PaleTurquoise;
    grid-area: article;
  }

  footer {
    background: blanchedalmond;
    grid-area: footer;
  }

  #discussion {
    background: lightblue;
  }

  #illustration {
    background: BlanchedAlmond;
  }

  img
  {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }